:root {
    --clr-bcg: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bcg);
}

.canvas-container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#effects-canvas {
    width: 45rem;
    height: 45rem;
}
