:root {
    --clr-drk: #000000;
    --clr-lgt: #dddddd;
    --clr-lgt-opc: #dddddd50;
    --clr-prm: rgb(83, 190, 167);

    --sld-hgt: 1rem;
    --cnv-dim: 32rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-drk);
    color: var(--clr-lgt);
    font-family: monospace;
}

button {
    flex: 1;
    padding-block: 0.5rem;
    border: 2px solid var(--clr-lgt-opc);
    background-color: var(--clr-drk);
    color: var(--clr-lgt);
    transition: all 0.5s ease;

    &:hover {
        background-color: var(--clr-lgt);
        color: var(--clr-drk);
    }
}

.controls-container {
    position: fixed;
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* margin-top: 0.5rem; */

    .text-container {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
}

.slider {
    appearance: none;
    background-color: var(--clr-lgt-opc);
    outline: none;
    border-radius: none;
    height: var(--sld-hgt);
    opacity: 0.7;
    transition: all 0.5s ease;

    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        background-color: var(--clr-prm);
        width: var(--sld-hgt);
        height: var(--sld-hgt);
    }
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.canvas-container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#effects-canvas {
    width: var(--cnv-dim);
    height: var(--cnv-dim);
}